.elementNavigation{
    text-decoration: none;
    text-transform: uppercase;

    font-size: larger;
    font-weight: bold;

    color: rgb(154, 159, 255);
}

.elementNavigation:focus,
.elementNavigation:hover{
    color: rgb(220, 214, 255);
    cursor: pointer;
}

.navigation{
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;

    background-color: rgb(44, 35, 81);
}