.button{
    display: block;
    background-color: rgb(103, 8, 27);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;

}

.button:focus, 
.button:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(103, 8, 27);
    border: 2px solid rgb(103, 8, 27);
    cursor: pointer;
}